body{
	margin:0px;
	Padding:0;
	background:#fff;
}
#container{
	width:960px;
	background:#fff;
	margin-left:auto;
	margin-right:auto;
}
#header{
	background:#fff;
	color:#791500;
	height:80px;
	margin-top:20px;
}

nav{
	margin:0;
	padding:0px;
	height:25px;
	color:#00c0ff;
	text-align:right;
	padding-bottom:20px;
	padding-right:0px;
}
nav ul{
	list-style-type:none;
	
}
nav ul li{
	display:inline;
}
nav a {
	color:#00c0ff;
	Font-weight:bold;
	text-decoration:none;
	font-size:18px;
	margin:0 15px;
	text-align: center;
}

nav :hover{
	color:#09aadf;
	border-bottom: 1px solid #00c0ff;
}
aside {
	
	padding:5px;
}

footer { 
		text-align:center;
		color:#fff;
		font-size:14pt;
		background:#000;
		height:15px;
		padding-bottom:3px;
		padding-top:3px;
		margin-top:100px;
}
footer h6 {
	margin:0;
}
h2 {
	
	Font-family: Adobe Gothic Std B, Arial;
	font-size:16pt;
}

h4{
	margin:3px;
}
#cols p{
 margin-left:3px;
 
}
.fltLt{
	float:left;
}
.fltRt{
	float:right;
}
.clearFlt{
	clear:both;
}
.threecols1 {
	width:20%;
	background:#cee080;
	margin-right:740px;
	margin-top:-365px;
	padding:10px;
	height:315px;
	color:white;
	box-shadow: 5px 5px 5px #888888;
}
.threecols2 {
	width:20%;
	background:#00c0ff;
	box-shadow: 5px 5px 5px #888888;
	margin-top:-30px;
	padding:10px;
	height:300px;
	color:white;
}
.threecols3 {
	width:20%;
	background:#e09380;
	margin:0px;
	padding:10px;
	height:300px;
	color:white;
	box-shadow: 5px 5px 5px #888888;
}
.finePrint{
	font-size:8pt;
	text-align:center;
	background:#6A33B5;
	Color:white;
}
h1{
	margin:2px 0 5px 0;
	padding-left:350px;
	
}
table, th, td{
	border:1px solid ;
	font-size:12pt;
	margin-top:20px;
	
}
hr{
	border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top:10px;
	}
td, th{
	padding:2px;
}
#col1 table {
	width:720px;
	height:350px;
	margin-left:220px;
}
#col1 td{
	padding:2px;
	font-size:12pt;
}
#col1 th{
	font-size:12pt;
}
#col1 thead th{
	background:#00c0ff;
	font-size: 18pt;
}
th {
	background:#e09380;
}








